.card_body {
    background-color: rgb(241, 241, 241);
    box-shadow: 2px 3px 5px 2px #ccc;
<<<<<<< HEAD

}

.card_body--image {
    background-color: rgb(221, 190, 190);
    width: 100%;
    height: auto;
}

.card_body--detail {
    width: 100%;
    height: auto;
    
=======
    margin: 50px auto;
    width: 18rem;
>>>>>>> rama3
}